{
	"singleQuote": true,
	"jsxSingleQuote": false,
	"printWidth": 100,
	"semi": false,
	"useTabs": true,
	"tabWidth": 2,
	"experimentalTernaries": true,
	"quoteProps": "consistent",
	"trailingComma": "none"
}
