.todoList {

}

.task {
    font-weight: 700;
}

.task_done {
    opacity: 0.5;
    text-decoration: line-through;
}

.button_active {
    background-color: blueviolet;
    border-color: transparent;
    color: white;
}

.input-error {
    border: 2px solid red;
    outline: none;
}

.text-error {
    color: red;
    font-size: 80%;
}